@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --whiteish: #b4b4b4;
  --background: #584738;
  --foreground: #bbe1c3;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
